<h1>My tasks</h1>

  <% @tasks.each do |task| %>
    <p class="d-flex">
    <input type="checkbox" name="checkbox"> <%= link_to task.title, task %>
      <%= link_to task_path(task), class: 'text-dark text-decoration-none', data: { turbo_method: :delete, turbo_confirm: "Do you want to delete #{task.title}" } do %>
        <i class="fas fa-trash mx-1"></i>
      <% end %>
    </p>
  <% end %>

<%= link_to 'Add new task', new_task_path%>
